# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Build directories
build/
dist/

# Temporary files
*.tmp
*.swp

# Miscellaneous
.DS_Store
.env

# Ignore all files in the public/uploads folder
public/uploads/*
